* {
    margin: 0;
    padding: 0;


}


.block {
    width: 1200px;
    border: 5px solid gray;
    background-color: aliceblue;
    padding: 5px;
    margin: 0 auto;
    border-radius: 6px;
    box-sizing: border-box;


}

.flex {

    display: flex;
    background-color: silver;
    justify-content: center;
    align-items: center;

}

.main {
    margin-top: 7px;
    border-radius: 5px;
    display: flex;
}


.head, .main_left__head {
    height: 170px;
    background: silver;
    box-sizing: border-box;


}


.main_left__content {
    display: flex;
    column-gap: 7px;
    /*    margin-top: 5px;*/

}

.main_left__item {
    display: flex;
    flex-grow: 1;
    height: 170px;


}

.main_left {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
    width: 80%;


}


.main_right {
    flex-grow: 1;
    background: silver;
    margin-left: 7px;

}
